* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General */
body {
  font-family: sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: #adb5bd;
  background-color: green;
}

.section {
  max-width: 1000px;
  margin: 30px auto;
  position: relative;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.box {
  background-color: white;
  overflow: hidden;
}

.text {
  position: relative;
  margin: 20px;
  flex: 1;
}
h2 {
  color: black;
}

.span {
  display: inline-block;
}
.span-1 {
  position: absolute;
  bottom: 0;
}
.span-2 {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* 1 */
.section-1 {
  gap: 15px;
}

.box-1 {
  flex: 1 auto;
  height: 390px;
}

.img-italy {
  height: 390px;
  width: 576px;
}

.box-3 {
  width: 650px;
  height: 800px;
}
.text-3 {
  padding-bottom: 150px;
}
.img-alps,
.img-alps-box {
  height: 400px;
  width: 650px;
}

.box-4 {
  width: 335px;
  height: 390px;
}
.text-4 {
  padding-bottom: 50px;
}
.img-newyork {
  height: 150px;
  width: 335px;
}

.box-5 {
  height: 180px;
  width: 335px;
}

.box-6 {
  height: 200px;
  width: 335px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 2*/

.section-2 {
  display: flex;
  flex-direction: column;
  width: 298px;
  height: 1205px;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: -315px;
}
.box-2 {
  flex-direction: column;
  width: 298px;
  height: 500px;
}

.img-rugby {
  height: 198px;
  width: 298px;
}

.box-7 {
  height: 220px;
}
